<nav>
    <section class="sidenav-content">
        <section class="nav-group collapsible">
            <input id="tab2" type="checkbox">
            <label for="tab2">Actions</label>
            <ul class="nav-list">
                <li>
                    <a class="nav-link" [routerLink]="">Tree View sample</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="analytics">Grid sample</a>
                </li>
            </ul>
        </section>
    </section>  
</nav>
